/*body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}*/
 .container{
            margin: 0 auto;
            max-width:800px;
            color: #ff0016;
            font-family:sans-serif;
            padding-top: 5000px;
            padding-left: 600px;
            padding-right: 500px;
} 
