body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
 .container{
    background-color: grey;
    margin: 0 auto;
    max-width:800px;
    color: #ff0016;
    font-family:sans-serif;
    font-style:italic;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
} 
